.container {
    text-align: center;
}

#title {
    margin: 25% 0 25% 0;
    display: inline-block;

}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 56px;
}

h4 {
    font-family: 'Hind Guntur', sans-serif;
}

.calendar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.time {
    width: 15%;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    background-color: #575757;
    border-top: solid 1px #dbdbdb;
    border-left: solid 1px #575757;
    border-right: none;
    border-bottom: none;
    border-radius: 5px;
}

.time1 {
    border-top: solid 1px #575757;
}

.time:last-of-type {
    border-bottom: solid 1px darkgray;
}

.note, .done, .submitDiv {
    height: 75px;
    padding-top: 10px;
    font-size: 18px;
    border: solid 1px darkgray;
    border-right: none;
    border-bottom: none;
}

.note {
    width: 70%;
    padding: 5px 5px 5px 5px;
    color: white;
    text-align: left;
    border-left: none;
}

.task {
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border: none;
    color: black;
    font-size: 16px;

}

.form {
    box-sizing: border-box;
    resize: none;
}

.done, .submitDiv {
    width: 15%;
}

.fas {
    color: #919191;
}

button {
    background-color: none;
    border: hidden;
    padding: 0px;
}