.container {
    text-align: center;
}

#title {
    margin: 25% 0 25% 0;
    display: inline-block;

}

h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 56px;
}

h4 {
    font-family: 'Hind Guntur', sans-serif;
}

.calendar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.time {
    width: 15%;
    padding-top: 10px;
    color: white;
    font-size: 16px;
    background-color: #575757;
    border-top: solid 1px #dbdbdb;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.time1 {
    border-top: solid 1px #575757;
}

.time:last-of-type {
    border-bottom: solid 1px darkgray;
}

.note {
    width: 70%;
    height: 75px;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: left;
    border: solid 1px #dbdbdb;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

.done  {
    width: 15%;
    height: 75px;
    padding-top: 10px;
    font-size: 18px;
    background-color: #13c7d4;
    border-top: none;
    border-right: solid 1px #dbdbdb;
    border-bottom: none;
    border-left: solid 1px #dbdbdb;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.done1 {
    border-top: solid 1px #dbdbdb;
}

.done:last-of-type {
    border-bottom: solid 1px #dbdbdb;
}

.task {
    height: 100%;
    width: 100%;
    padding-left: 5px;
    border: none;
    color: black;
    font-size: 16px;

}

.form {
    box-sizing: border-box;
    resize: none;
}

.fas {
    color: white;
    background-color: #13c7d4;
}

button {
    background-color: #13c7d4;
    border: hidden;
    padding: 0px;
}